.bcg-blk {
    background-color: black;
}

.bgt-white {
    color: whitesmoke;
}

nav {
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;

}

nav ul li {
    list-style: none;
    margin: 10px;
    font-style: italic;
}

header h2 {
    text-align: center;
    font-size: 50px;
}

section h3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 1.6em;
}


header {
    background-image: url("https://wallpaperaccess.com/full/5651978.png");
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.red {
    color: red;
}

.d-f {
    display: flex;
}

.jc-sa {
    justify-content: space-around;
}

.icon {
    width: 65%;
    height: 72%;
    fill: rgb(30, 213, 30);
}

.icon:hover {
    fill: whitesmoke
}

.bgc-grey100 {
    background-color: grey;
}

.fxd-c {
    flex-direction: column;
}

.ai-c {
    align-items: center;
}