.ai-c {align-items: center;}


/* background/ properties */
.bcg-blk {background-color: black;}

.bgt-white {color: whitesmoke;}



.d-f {display: flex;}

/* font properties */

.fc-ws {color: whitesmoke;}

.ff-ms {font-family: monospace;}

.fs-i {font-style: italic;}

.fs-17 {font-size: 17px;}

.fs-22 {font-size: 22px;}

.fs-50 {font-size: 50px;}

.fs-1.6 {font-size: 1.6em;}

.fs-204 {font-size: 204%;}

/* flex properties */

.fxd-c {flex-direction: column;}

.fw-w {flex-wrap: wrap;}

.h100 {height: 100px;}


/* LinkedIn GitHub and resume properties */
.icon {width: 65%; height: 72%; fill: rgb(30, 213, 30);}

.icon:hover {fill: whitesmoke}

.icon:active {fill: whitesmoke;}

/* justify properties */
.jc-c {justify-content: center;}

.jc-sa {justify-content: space-around;}

.jc-sb {justify-content: space-between;}


@keyframes spin {
    from {transform: rotate(0deg);}to {transform: rotate(360deg);}}


.p {padding: 33px;}

.ls-n {list-style: none}
    
.m-10 {margin: 10px;}

nav ul li {list-style: none; margin: 10px;}

.red {color: red;}

.rotate {
    animation-name: spin;
    animation-duration: 4000ms;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
  }

.scale {transform: scale(1.5, 1);}

.skew {transform: rotate(15deg);}

.ta-c {text-align: center;}