.bcg-blk {background-color: black;}

.bgt-white {color: whitesmoke;}

nav ul li {list-style: none; margin: 10px;}

.red {color: red;}

.d-f {display: flex;}

.jc-c {justify-content: center;}

.jc-sa {justify-content: space-around;}

.jc-sb {justify-content: space-between;}

.icon {width: 65%; height: 72%; fill: rgb(30, 213, 30);}

.icon:hover {fill: whitesmoke}

.icon:active {fill: whitesmoke;}

.fs-i {font-style: italic;}

.fs-50 {font-size: 50px;}

.fs-1.6 {font-size: 1.6em;}

.fxd-c {flex-direction: column;}

.fw-w {flex-wrap: wrap;}

.h100 {height: 100px;}

.ls-n {list-style: none}
    
.m-10 {margin: 10px;}

.ta-c {text-align: center;}

.ai-c {align-items: center;}
